.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo{
    width: 150px;
}
.shimu{
    font-size: 30px;
    font-weight: 600;
    color: tomato;

}
.navbar-menu{
    display: flex;
    list-style:none;
    gap: 25px;
    color: rgb(100, 100, 100);
    cursor: pointer;
}
.navbar-menu li{
    font-size: 15px;
}
.navbar-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.navbar-right img{
    width: 30px;
}
.signUp{
    padding: 10px 30px;
    border: 1px solid rgb(192, 0, 0);
    border-radius: 50px;
    font-size: 15px;
    color: white;
    background-color: tomato;
    cursor: pointer;
}
.navbar .active{
    padding-bottom:3px ;
    border-bottom: 3px solid rgb(126, 126, 126);
}
.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-height: 10px;
    min-width: 10px;
    border-radius: 5px;
    background-color: tomato;
    top: -8px;
    right: -8px;
}
.navbar-Profile{
    position: relative;
    cursor: pointer;
}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.navbar-Profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: aliceblue;
    padding: 12px 25px;
    border-radius: 5px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;

}
.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.nav-profile-dropdown img{
    width: 20px;
}
.nav-profile-dropdown li:hover{
    color: tomato;
}
@media (max-width:1050px) {
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 20px;
    }
    .navbar-menu li{
        font-size: 13px;
    }
    .navbar-right{
        gap: 16px;
    }
    .navbar-right img{
        width: 20px;
    }

}
@media (max-width:900px) {
    .navbar .logo{
        width: 100px;
    }
    .navbar-menu{
        gap: 18px;
    }
    .navbar-menu li{
        font-size: 10px;
    }
    .navbar-right{
        gap: 10px;
    }
    .navbar-right img{
        width: 15px;
    }

}
@media (max-width:750px) {
    .navbar-menu{
        display: none;
    }
}