.login-popup{
    display: grid;
    position: absolute;
    z-index: 1;
    background-color: #00000090;
    height: 100%;
    width: 100%;

}
.login-container{
    place-self: center;
    width:max(23vw,330px);
    background-color:white ;
    color: #808080;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 15px;
    border-radius: 8px;
    animation: fadeIn 0.3s;
}
.login-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-title h2{
    font-weight: 600;
    color: black;
}
.login-title img{
    cursor: pointer;
    width: 15px;
}
.login-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-inputs input{
    outline: none;
    border: 1px solid rgb(167, 167, 167);
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}
.login-container button{
    padding: 5px 10px;
    background: tomato;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.login-condutions{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}
.login-container span{
    cursor: pointer;
    color: tomato;
    font-weight: 500;
}