.my-orders{
    margin: 50px,0px;
}
.my-orders-order{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr ;
    align-items: start;
    gap: 30px;
    font-size: 14px;
    padding:20px;
    margin: 30px 0px;
    border: 1px solid rgb(211, 180, 180);
    color: #454545;
}
.order-item-food, .order-item-name{
    font-weight: 600;
}
.order-item-address{
    margin-bottom: 10px;
}
.my-orders-order select{
    background-color: #ffe8e4;
    border: 1px solid rgb(133, 72, 61);
    width: max(10vw,120px);
    padding: 10px;
    outline: none;
}
.order-item-name{
    margin-top: 30px;
    margin-bottom: 5px;
}
.my-orders-order img{
    width: 50px;
}
.my-orders-order p span{
    color: tomato;
}
.my-orders-order p b{
    font-weight: 500;
    color: #454545;
}
.my-orders-order button{
    border: none;
    padding: 12px 0px;
    border-radius: 4px;
    background-color: #ffe1f1;
    cursor: pointer;
    color: #454545;
}
@media (max-width:1000px) {
    .my-orders-order{
        grid-template-columns: 0.5fr 2fr 1fr;
        padding: 15px 8px;
        font-size: 12px;
    }
    .my-orders-order select{
        padding: 5px;
        font-size: 12px;
    }
    .my-orders-order img{
        width: 40px;
    }
}